*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    flex-direction: column;
    /* min-height:100vh; */
    font-family: 'Hanken Grotesk', sans-serif;
}
main{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    justify-content: space-evenly;
    align-items: center;
    min-height:100vh;
    /* padding: 30px; */
  

}
/*main container styles*/
.main-container{
    background: linear-gradient(hsl(252, 100%, 67%), hsl(241, 81%, 54%) ) ;
    border-radius: 5%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 30px;
    width: 50%;

}
.score-cont{
    border-radius: 100%;
    background: linear-gradient(hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 180px;
    padding: 37px 0;
    margin: 25px 0;
    text-align: center;
}
/*main cont element styles*/
.main-container h3{
    color: hsla(0, 0%, 80%);
}
h1{
    font-size: 68px;

}
.score-cont span{
    color:hsla(257, 79%, 77%, 60%);
    font-weight: 700;
}
h2{
    padding-bottom: 8px;
}
p{
    color: hsla(0, 0%, 80%);
    font-size: 17px;

    text-align: center;
}
.score-details{
    text-align: center;
    padding: 10px;
}
/*summary container styles*/
.summary-container{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 25px;
    align-content: stretch;
    border-radius: 5%;
    box-shadow: 10px 0 5px -2px #888;

}
.result-cont{
    display: flex;
    flex-direction: row;
    padding: 15px 12px;
    margin: 8px 0;
    background-color: cadetblue;
    width: 85%;
    border-radius: 11px;
    /* getting dark borders: https://stackoverflow.com/questions/75607228/how-can-you-apply-a-border-to-only-corners-of-a-container-in-css */
}
.result-cont span{
    margin-left: auto;
}
.result-cont h4{
    padding: 0 7px;
    font-weight: 500;
}
button{
    background-color: hsl(224, 30%, 27%);
    border-radius: 50px;
    color: white;
    padding: 14px;
    width: 85%;
    margin: 10px 0;
}
.summary-container h3{
    margin: 20px 0;
}

/*summary box designs*/

.result-cont .result-denom{
    color:hsl(224, 30%, 60%);
}
.result-cont span{
    color: hsl(224, 30%, 32%);
    font-weight: 700;
}
#reaction{
    /* hsl(224, 30%, 27%) */
color: hsl(0, 100%, 45%);
background-color:hsl(0, 100%, 98%);
}
/*hsla(354, 100%, 98%)*/
#memory{
color: hsl(39, 100%, 56%);
background-color: hsla(39, 100%, 98%);
}
#verbal{
color: hsl(166, 100%, 37%);
background-color: hsla(166, 100%, 98%)
}
#visual{
color: hsl(234, 85%, 45%);
background-color: hsla(234, 85%, 98%)
}

/*footer styles*/
.attribution { 
    font-size: 11px; text-align: center; 
    align-self: flex-end;
    justify-self: center;

}
.attribution a { 
        color: hsl(228, 45%, 44%); 
}
/*mobile styles
Mobile: 375px
*/

@media screen and (max-width: 500px) {
    main{
     flex-wrap: wrap;
     padding: 0;
     align-items:normal;
    }
    .main-container{
        width: 100%;
       padding-bottom: 0;
    }
    .summary-container{
        width: 100%;
        padding-top: 0;

    }
    .score-cont{
        width: 50%;
        height: 50%;
    }
}
